@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
html{
    height: 100%!important;
    width: 100%!important;
    overflow: hidden;
}
mat-icon{
    vertical-align: middle;
}
textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

textarea{
    resize: none!important;
}

a {
    cursor: pointer;
}


.si-wrapper-top{
    width: 400px!important;
    height: auto;
}